html {
        min-height: 100%;
}

body {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background: linear-gradient(to bottom, #fa7070, #994b84);
}

.list {
        width: 100%;
        background: #d05781;
}

.list ol {
        list-style-position: inside;
        text-align: center;
        padding-left: 0;
}
