* {
        margin: 0;
        padding: 0;
}

body {
        height: 100vh;
        width: 100%;
        background-color: #000;
}

img, button {
        border-radius: 10px;
}

#navigation button {
        background-color: #ccc;

        outline: none;
        border: none;
        border-radius: 10px;
        padding: 10px;

        font-family: Courier Sans, monospace;
        font-size: 20px;
        font-weight: bold;
}

#resources img {
        background-color: #ccc;

        padding: 10px;
}

.locked {
        position: relative;
        display: inline-block;
        filter: brightness(.6);
}

.lock-symbol {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
}


#menu {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

#slider {
        width: 100%;
}

#carousel {
        transition-property: transform, left;
        transition-duration: 0.3s;
        transition-timing-function: ease; 
}

#carousel.left {
        position: relative;
        left: 0%;
        transform: translateX(0%);
}

#carousel.center {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
}

#carousel.right {
        position: relative;
        left: 100%;
        transform: translateX(-100%);
}
































#projects {
        position: absolute;
        width: 850px;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
        text-align: right;
}

#languages {
        position: absolute;
        width: 850px;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        text-align: left;
}

#certifications {
        position: absolute;
        width: 850px;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
        text-align: right;
}

#projects.hidden {
        display: none;
}

#languages.hidden {
        display: none;
}

#certifications.hidden {
        display: none;
}

