<html>
        <head>
                <meta charset="UTF-8">
                <meta name="author" content="CRensing">
                <meta name="description" content="first webpage">
                <title>
                        I love my wife
                </title>
                <link rel="icon" href="static/img/favicon.ico">
                <link rel="stylesheet" href="static/css/style.css">
        </head>
        <body>


                <div id="list">
                        <p>
                                things i like
                                <ol>
                                        <li>my wife</li>
                                        <li>my wife</li>
                                        <li>my wife</li>
                                </ol>
                        </p>
                </div>

                <div id="login">
                        <fieldset>
                                <legend>LOGIN</legend>
                                <form action="/submit", method="POST">
                                        <input type="text" id="label1" name="label1" placeholder="username"> 
                                        <br>
                                        <input type="password" id="password" name="password" placeholder="password">
                                </form>
                        </fieldset>
                </div>

                <div id="form">
                        <form action="/submit", method="POST">
                                <label for="sauce"> u got da sauce? </label>
                                <input id="sauce" type="checkbox" name="yep">
                                <br>
                                <label> are you goated? </label>
                                <input id="yesGoated1" type="radio" name="goated" value="yes">
                                <label for="yesGoated1"> yes </label>
                                <input id="yesGoated2" type="radio" name="goated" value="yes">
                                <label for="yesGoated2"> yes </label>
                                <br>
                                <label for="game"> how we gamin boys?? </label>
                                <select id="game" name="gameChoice">
                                        <option value="" selected> fortnite</option>
                                        <option value=""> halo </option>
                                        <option value=""> cs </option>
                                        <option value=""> rocket league </option>
                                        <option value=""> league </option>
                                        <option value=""> cod </option>
                                </select>
                                <br>
                                <textarea id="message" name="message" placeholder="type whatever man" rows="10" cols="100"></textarea>
                                <br>
                                <button type="submit"> Yeet </button>
                        </form>
                </div>

                <div id="carousel">
                        <img src="static/img/carouselPink-500x500.gif" alt="Slime" width="500" height="500">
                </div>

                <div id="resources">
                        <a class="link" href="https://github.com/crensing7" target="_blank">
                                <img src="static/img/github-200x200.png" width="40" height="40">
                        </a>
                        <a class="link" href="https://linkedin.com/in/crensing7" target="_blank">
                                <img src="static/img/linkedin-200x200.png" width="40" height="40">
                        </a>
                        <a class="link" href="https://monkeytype.com/profile/neusop" target="_blank">
                                <img src="static/img/monkeytype-200x200.png" width="40" height="40">
                        </a>
                </div>
        </body>
</html>










