<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <meta name="author" content="neusop">
                <meta name="description" content="first webpage">
                <title>
                        HAVEN
                </title>
                <link rel="icon" href="static/img/favicon.ico">
                <link rel="stylesheet" href="static/css/style.css">
                <script src="static/js/script.js" defer></script>
        </head>
        <body>
                <div>
                        <img id="background" src="static/img/background.jpg">
                </div>
                <div id="menu">
                        <div id="navigation"> 
                                <div class="idle">
                                        <button id="proj"> Projects </button>
                                </div>
                                <div class="idle">
                                        <button id="lang"> Languages </button>
                                </div>
                                <div class="idle">
                                        <button id="cert"> Certifications </button>
                                </div>
                        </div>

                        <div id="slider">
                                <img id="carousel" class="center" src="static/img/carouselPink-500x500.gif" width="500" height="500">
                        </div>

                        <div id="resources">
                                <a id="github" class="idle" href="https://github.com/crensing7" target="_blank">
                                        <img src="static/img/github-200x200.png" width="40" height="40"></a>

                                <a href="https://linkedin.com/in/cameron-rensing/" target="_blank">
                                        <img src="static/img/linkedin-200x200.png" width="40" height="40"></a>

                                <a href="https://monkeytype.com/profile/neusop" target="_blank">
                                        <img src="static/img/monkeytype-200x200.png" width="50" height="40"></a>

                                <a id="credly" class="idle" href="https://credly.com/users/cameron-rensing" target="_blank">
                                        <img src="static/img/credly-300x300.png" width="50" height="40"></a>
                        </div>
                </div>
                
                <div id="showcase">
                        <div id="projects" class="hidden">
                                <div class="description">
                                        <img id="nand2tetris" class="unlocked" src="static/img/n2t-300x300.png" width="200" height="200">
                                        <p> 
                                                Nand<br>
                                                2<br>
                                                Tetris 
                                        </p>
                                </div>
                                <div class="description">
                                        <img id="ctf" class="unlocked" src="static/img/ctf-300x300.png" width="200" height="200">
                                        <p> 
                                                CTF<br>
                                                Boxes
                                        </p>
                                </div>
                                <div class="description">
                                        <img id="website" class="unlocked" src="static/img/website-300x300.png" width="200" height="200">
                                        <p> 
                                                This<br>
                                                Website
                                        </p>
                                </div>
                                <div class="description">
                                        <div class="locked">
                                                <img id="lfs" src="static/img/lfs-300x300.png" width="200" height="200">
                                                <img class="lock-symbol" src="static/img/lock-300x300.png" width="200" height="200">
                                        </div>
                                        <p> 
                                                Linux<br>
                                                From<br>
                                                Scratch 
                                        </p>
                                </div>
                        </div>

                        <div id="languages" class="hidden">
                                <img id="asmLang" class="unlocked" src="static/img/x86-300x300.png" width="200" height="200">
                                <img id="vimLang" class="unlocked" src="static/img/vim-300x300.png" width="200" height="200">
                                <img id="bashLang" class="unlocked" src="static/img/bash-300x300.png" width="200" height="200">
                                <img id="pythonLang" class="unlocked" src="static/img/python-300x300.png" width="200" height="200">
                                <div class="locked">
                                        <img id="cLang" src="static/img/c-300x300.png" width="200" height="200">
                                        <img class="lock-symbol" src="static/img/lock-300x300.png" width="200" height="200">
                                </div>
                                <img id="htmlLang" class="unlocked" src="static/img/html-300x300.png" width="200" height="200">
                                <img id="cssLang" class="unlocked" src="static/img/css-300x300.png" width="200" height="200">
                                <div class="locked">
                                        <img id="jsLang" src="static/img/js-300x300.png" width="200" height="200">
                                        <img class="lock-symbol" src="static/img/lock-300x300.png" width="200" height="200">
                                </div>
                        </div>

                        <div id="certifications" class="hidden">
                                <img id="comptiaA" class="unlocked" src="static/img/comptiaA-300x300.png" width="200" height="200">
                                <img id="ccna" class="unlocked" src="static/img/ccna-300x300.png" width="200" height="200">
                                <div class="locked">
                                        <img id="comptiaS" src="static/img/comptiaS-300x300.png" width="200" height="200">
                                        <img class="lock-symbol" src="static/img/lock-300x300.png" width="200" height="200">
                                </div>
                                <div class="locked">
                                        <img id="comptiaL" src="static/img/comptiaL-300x300.png" width="200" height="200">
                                        <img class="lock-symbol" src="static/img/lock-300x300.png" width="200" height="200">
                                </div>
                        </div>
                </div>
        </body>
</html>










