<html>
        <head>
                <meta charset="UTF-8">
                <meta name="author" content="neusop">
                <meta name="description" content="first webpage">
                <title>
                        HAVEN
                </title>
                <link rel="icon" href="static/img/favicon.ico">
                <link rel="stylesheet" href="static/css/style.css">
        </head>
        <body>

                <div class="resources">
                        <a class="textLink" href="templates/proj.html" target="_blank">
                                Projects</a>
                        <a class="textLink" href="templates/cert.html" target="_blank">
                                Certifications</a>
                        <a class="textLink" href="templates/lang.html" target="_blank">
                                Languages</a>
                </div>

                <div id="carousel">
                        <img src="static/img/carouselPink-500x500.gif" alt="Slime" width="500" height="500">
                </div>

                <div class="resources">
                        <a class="imgLink" href="https://github.com/crensing7" target="_blank">
                                <img src="static/img/github-200x200.png" width="40" height="40">
                        </a>
                        <a class="imgLink" href="https://linkedin.com/in/cameron-rensing/" target="_blank">
                                <img src="static/img/linkedin-200x200.png" width="40" height="40">
                        </a>
                        <a class="imgLink" href="https://monkeytype.com/profile/neusop" target="_blank">
                                <img src="static/img/monkeytype-200x200.png" width="50" height="40">
                        </a>
                </div>
        </body>
</html>










