<html>
        <head>
                <meta charset="UTF-8">
                <meta name="author" content="CRensing">
                <meta name="description" content="first webpage">
                <title>
                        I love my wife
                </title>
                <link rel="icon" href="static/favicon.ico">
                <link rel="stylesheet" href="static/css/main.css">
        </head>
        <body>

                <h1>
                        <a href="https://github.com/crensing" target="_blank">github</a>
                </h1>

                <div class="list">
                        <p>
                                things i like
                                <ol>
                                        <li>my wife</li>
                                        <li>my wife</li>
                                        <li>my wife</li>
                                </ol>
                        </p>
                </div>

                <fieldset>
                        <legend>my cat is fat</legend>
                        <p>
                                i love html!
                        </p>
                        <form action="/submit", method="POST">
                                <label for="label1"> username </label>
                                <input type="text" id="label1" name="label1" placeholder="username"> 
                                <br>
                                <label for="password"> password </label>
                                <input type="password" id="password" name="password" placeholder="password">
                        </form>
                </fieldset>

                <form action="/submit", method="POST">
                        <label for="sauce"> u got da sauce? </label>
                        <input id="sauce" type="checkbox" name="yep">
                        <br>
                        <label> are you goated? </label>
                        <input id="yesGoated1" type="radio" name="goated" value="yes">
                        <label for="yesGoated1"> yes </label>
                        <input id="yesGoated2" type="radio" name="goated" value="yes">
                        <label for="yesGoated2"> yes </label>
                        <br>
                        <label for="game"> how we gamin boys?? </label>
                        <select id="game" name="gameChoice">
                                <option value="" selected> fortnite</option>
                                <option value=""> halo </option>
                                <option value=""> cs </option>
                                <option value=""> rocket league </option>
                                <option value=""> league </option>
                                <option value=""> cod </option>
                        </select>
                        <br>
                        <textarea id="message" name="message" placeholder="type whatever man" rows="10" cols="100"></textarea>
                        <br>
                        <button type="submit"> Yeet </button>
                </form>

                <div class="carousel">
                        <img src="static/img/carouselPink-500x500.gif" alt="Slime" width="500" height="500">
                </div>
        </body>
</html>










